<div id="frontrow-badge">
  {% if request.path contains '/products/amplifye-p24' %}
    <script async type="text/javascript" src="https://app.thefrontrowhealth.com/api/widgets/script?presentation_type=quant&product_id=4657"></script>
    <iframe class="iframe-frontrow" id="iframe-frontrow-quant" frameborder="0" src="https://app.thefrontrowhealth.com/api/widgets?presentation_type=quant&product_id=4657"></iframe>
    
  {% else %}
    <style> #frontrow-badge {display: none !important;} </style>
  {% endif %}
</div>

<style>
  #iframe-frontrow-quant {height: 0px;}
  #frontrow-badge{position:relative;display:flex;}.iframe-frontrow{width:100%;margin:0}.iframe-modal-frontrow{display:none;position:fixed;z-index:99999999;left:0;top:0;right:0;bottom:0;width:100%;height:100%;overflow:hidden}
    @media screen and (max-width: 1024px) {
    #frontrow-badge { order: 3; }
  }
</style>
