<section class="fr-testimonials">
  {% if request.path contains '/products/amplifye-p24' %}
    <script async type="text/javascript" src="https://app.thefrontrowhealth.com/api/widgets/script?presentation_type=qual&product_id=4657"></script>
    <iframe id="frontrow-testimonials" class="iframe-frontrow-testimonials" frameborder="0" src="https://app.thefrontrowhealth.com/api/widgets?presentation_type=qual&product_id=4657"></iframe>
    
  {% endif %}

  <style>iframe.iframe-frontrow-testimonials { width: 100%; } iframe.iframe-modal-testimonials { z-index: 99999998; }</style>
</section>
