{% comment %}
	{%- render 'product-hero-gallery',
		product: product
	-%}
	- product: product object
{% endcomment %}

{% if section.settings.gallery_layout == 'stacked' %}
  <div class="product-layout-stacked">
    {% for media in product.media %}
      <div class="c-slider__slide">
        {% case media.media_type %}
          {% when 'image' %}
            <div class="object-fits product-image">
				{% render 'c-img-srcset', image: media, alt: product.title, is_non_lazy: true %}
            </div>
          {% when 'model' %}
            {{ media | model_viewer_tag }}
            {% comment %} set attributes via js {% endcomment %}
          {% when 'video' %}
            {% render 'c-video',
              video_type: 'video',
              video: media,
              has_mute_btn: true
            %}
          {% when 'external_video' %}
            {% render 'c-video',
              video_type: media.host,
              video: media,
              video_id: media.external_id,
              has_mute_btn: true
            %}
        {% endcase %}
      </div>
    {% endfor %}
	<div class="product-hero__badge"></div>
  </div>
{%- endif -%}

{%- capture slider_html -%}
	{% for media in product.media %}
		<div class="c-slider__slide">
			{% case media.media_type %}
				{% when 'image' %}
					<div class="object-fit">
						{% render 'c-img-srcset', image: media, alt: product.title, is_non_lazy: true %}
					</div>
				{% when 'model' %}
					{{ media | model_viewer_tag }}
					{% comment %} set attributes via js {% endcomment %}
				{% when 'video' %}
					{% render 'c-video',
						video_type: 'video',
						video: media,
						has_mute_btn: true
					%}
				{% when 'external_video' %}
					{% render 'c-video',
						video_type: media.host,
						video: media,
						video_id: media.external_id,
						has_mute_btn: true
					%}
			{% endcase %}
		</div>
	{% endfor %}
{%- endcapture -%}

<div class="product-hero__gallery js-product-hero-slider">
	{%- render 'c-slider',
		classes: 'product-hero__gallery__slider',
		slider_html: slider_html,
		slider_options: "{'loop': true, 'watchDrag': true}",
		enable_fade: true,
		enable_dots: true,
		enable_wheel: true,
		enable_nav: true
	-%}
	<div class="product-hero__badge"></div>
</div>
