{% schema %}
{
	"name": "Landing",
	"tag": "section",
	"class": "landing-content p-y-section p-x-lg f-v f-j-c",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background Image"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile",
			"label": "Background Image (Mobile)"
		},
		{
			"type": "text",
			"id": "success_message",
			"label": "Email Submission - Success Message"
		}
	]
}
{% endschema %}

{%- liquid
	assign heading = section.settings.heading
	assign subheading = section.settings.subheading
	assign background_image = section.settings.background_image
	assign background_image_mobile = section.settings.background_image_mobile
	assign success_message = section.settings.success_message
-%}

{%- if background_image != null -%}
	<div class="landing-content__image p-fill">
		<span class="object-fit">
			{%- render 'c-img-srcset',
				image: background_image,
				responsive_image: background_image_mobile,
				alt: background_image.alt
			-%}
		</span>
	</div>
{%- endif %}

<div class="landing-content__text wysiwyg">
	<div class="landing-content__logo">
		{% render 'svg-logos', type: 'default' %}
	</div>
	{%- if heading != blank -%}
		<h1 class="landing-content__heading t-h-1">
			{{ heading }}
		</h1>
	{%- endif -%}
	{%- if subheading != blank -%}
		<p class="landing-content__subheading t-b-1">
			{{ subheading }}
		</p>
	{%- endif -%}
	{% render 'c-email-capture-shopify', success_message: success_message %}
</div>

<style>
	.g-announcement,
	.g-header,
	.g-footer {
		display: none;
	}
</style>
