{% schema %}
{
	"name": "Product Hero",
	"tag": "section",
	"class": "product-hero f-h f-j-s",
	"blocks": [
    {
      "type": "@app"
    },
	{
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.pairing_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.pairing_1.info"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.pairing_2.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.pairing_3.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_4.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_4.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.pairing_4.label"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_4.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_4",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_4.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_4.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    },
	{
      "type": "upsell-product",
      "name": "Upsell products",
	  "limit": 1
    },
	{
      "type": "title",
      "name": "Product title",
	  "limit": 1
    },
	{
      "type": "sub-title",
      "name": "Product Subtitle",
	  "limit": 1
    },
  {
    "type": "price",
    "name": "Product price",
    "limit": 1
  },
	{
      "type": "description",
      "name": "Product description",
	  "limit": 1
    },
	{
      "type": "hero-form",
      "name": "Hero form",
	  "limit": 1
    },
	{
      "type": "accordions",
      "name": "Accordions"
    },
	{
      "type": "text",
      "name": "Text"
    },
	{
      "type": "chat-note",
      "name": "Chat note"
    }
  ],
	"settings": [
		{
			"type": "richtext",
			"label": "Subscription Block Information",
			"id": "subscription_info"
		},
		{
			"type": "richtext",
			"label": "One Time Purchase Block Information",
			"id": "one_time_info"
		},
		{
			"type": "textarea",
			"id": "notes",
			"label": "Benefits Notes"
		},
		{
			"type": "select",
			"id": "gallery_layout",
			"options": [
				{
					"value": "thumbnail_slider",
					"label": "t:sections.main-product.settings.gallery_layout.options__4.label"
				},
				{
					"value": "stacked",
					"label": "t:sections.main-product.settings.gallery_layout.options__1.label"
				},
			],
			"default": "thumbnail_slider",
			"label": "t:sections.main-product.settings.gallery_layout.label"
		}
	]
}
{% endschema %}

{%- render 'product-hero-gallery', product: product -%}

<div class="product-hero__content f-v f-j-s f-a-s">
  <div class="product-hero__header f-v">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'title' -%}
          <h1 class="t-h-2 product-hero__header">{{ product.title }}</h1>
        {%- when 'price' -%}
          {% render 'c-item-price', block: block, item: product, is_show_price_range: true %}
        {%- when 'sub-title' -%}
          {%- if product.metafields.custom.subtitle != blank -%}
            <h2 class="product-hero__subtitle t-l-5 product-hero__header">
              {{- product.metafields.custom.subtitle -}}
            </h2>
          {%- endif -%}
      {%- endcase -%}
	  {%- endfor -%}
  </div>
	{%- for block in section.blocks -%}
		{%- case block.type -%}
      {%- when 'icon-with-text' -%}
        {% render 'icon-with-text', block: block %}
      {%- when 'description' -%}
        {%- if product.description != blank -%}
          <div class="product-hero__description wysiwyg">
            {% render '_include_p_tag', content: product.description %}
          </div>
        {%- endif -%}
      {%- when 'hero-form' -%}
        <div class="product-hero__form">
          {% render 'c-product-form',
            item: product,
            is_update_variant_url: true,
            is_selling_plan_content_collapsible: true
          %}

          {%- if product.metafields.custom.note -%}
            <p class="product-hero__note t-l-3">
              {{ product.metafields.custom.note }}
            </p>
          {%- endif -%}
        </div>
      {%- when 'accordions' -%}
        {% render 'product-hero-accordions', block: block %}
      {%- when 'text' -%}
        <a
          href="#faq-section"
          class="product-hero__faq-button btn-underline is-reverse"
          >Jump to All FAQs</a
        >
      {%- when 'chat-note' -%}
        {%- if product.metafields.custom.chat_note -%}
          <div class="product-hero__chat-note f-h f-a-c f-j-c bg-cream-dark">
            <p class="product-hero__chat-note__title t-h-4">
              {{ product.metafields.custom.chat_note }}
            </p>
            <button type="button" class="btn-outline js-gladly-trigger">
              <span class="btn-outline__label">Let’s Chat</span>
              {% render 'svg-icons', icon: 'dialog' -%}
            </button>
          </div>
        {%- endif -%}
      {%- when 'upsell-product' -%}
        {% render 'product-upsell', block: block %}
    {%- endcase -%}
	{%- endfor -%}
</div>