.feature-cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 20px;
  margin: 0 auto;
}

.feature-cards__card {
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  box-shadow: 0.66px 0.66px 6px 0px #00000040 inset;
}

.feature-cards__container img {
  opacity: 1;
  border-radius: 10px;
}

.feature-cards__card-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.feature-cards__title {
  font: var(--t-h-2);
  margin: 0 0 12px;
}

.feature-cards__subtitle {
  font: var(--t-l-6);
}

.feature-cards__description * {
  font-size: 16px;s
}

@media (max-width: 991px) {
  .feature-cards__container {
    grid-template-columns: 1fr;
  }
}

.feature-cards__image--mobile { display: none; }
.feature-cards__image--desktop { display: block; }

@media (max-width: 767px) {
  .feature-cards__image--desktop { display: none; }
  .feature-cards__image--mobile { display: block; }
}

@media (min-width: 992px) {
  .feature-cards__container {
    padding: 40px 30px;
    max-width: 1352px;
    gap: 40px;
  }

  .feature-cards__title {
    font: var(--t-h-3);
    margin: 0 0 20px;
  }

  .feature-cards__subtitle {
    font: var(--t-h-4);
  }

  .feature-cards__description * {
    font-size: 18px;
  }
}