.icon-with-text__item img {
  opacity: 1;
  width: 29px;
}

.icon-with-text {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  order: 3;
  gap: 16px;
}

.icon-with-text__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1200px) {
  .icon-with-text {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    order: unset;
  }

  .icon-with-text__item {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }

  .custom.items-3-wrappers.icon-with-text {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}