.icon-with-text__item img {
  opacity: 1;
  width: 29px;
}

.icon-with-text {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  order: 3;
  gap: 24px;
}

.icon-with-text__item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.icon-with-text__item .inline-richtext {
  font-size: 10px;
}

.icon-with-text__item .flex-custom {
  display: inline-flex;
  background: #0B0077;
  padding: 4px 6px;
  border-radius: 3px;
  position: relative;
  top: 1px;
}

.icon-with-text__item .flex-custom .flex-logo {
  width: 20px;
}

.icon-with-text__item .info {
  width: 11px;
  display: inline;
  vertical-align: middle;
}

.fake-flex-trigger {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .icon-with-text {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    order: unset;
  }

  .icon-with-text__item {
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
  }

  .custom.items-3-wrappers.icon-with-text {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0;
  }

  .icon-with-text__item .inline-richtext {
    font-size: 12px;
    text-align: left;
  }
}