.section-custom__style .c-its__content {
  padding: 30px;
  gap: 25px;
}

.section-custom__style .c-its__content .c-its__heading {
  letter-spacing: 0;
}

.section-custom__style .c-its__content p {
  font: var(--t-b-1);
  font-weight: 400;
}

.section-custom__style .product-hero__form {
  min-width: 235px;
}

.section-custom__style .c-its {
  gap: 0;
}

.section-custom__style .bg-subtle {
  background-color: transparent;
}

.section-custom__style {
  padding-bottom: 30px;
}