<div class="password-form-wrapper">
	{%- if shop.password_message != blank -%}
		<p>{{- shop.password_message -}}</p>
	{%- endif -%}

	{%- form 'storefront_password' -%}
		{{ form.errors | default_errors }}

		<div class="{%- if form.errors -%}has-errors{%- endif -%}">
			<input
				type="password"
				id="password-entry"
				name="password"
				placeholder="Password"
			>
			<label for="password-entry">Password</label>
			<button
				type="submit"
				class="btn"
			>
				Submit
			</button>
		</div>
	{%- endform -%}
</div>
